<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sic.mapper.ChTaskMapper">
  <resultMap id="BaseResultMap" type="com.sic.entity.ChTask">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CH_TASK_ID" jdbcType="VARCHAR" property="chTaskId" />
    <result column="SUB_FLAG" jdbcType="VARCHAR" property="subFlag" />
    <result column="SUB_NUM" jdbcType="DECIMAL" property="subNum" />
    <result column="SUPER_ID" jdbcType="VARCHAR" property="superId" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="TASK_RECORD_ID" jdbcType="VARCHAR" property="taskRecordId" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="FILL_FORM_ID" jdbcType="VARCHAR" property="fillFormId" />
    <result column="STATISTICS_FORM_ID" jdbcType="VARCHAR" property="statisticsFormId" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="FILE_IDS" jdbcType="VARCHAR" property="fileIds" />
    <result column="FILLER_TYPE" jdbcType="DECIMAL" property="fillerType" />
    <result column="START_DATE" jdbcType="TIMESTAMP" property="startDate" />
    <result column="FINISH_DATE" jdbcType="TIMESTAMP" property="finishDate" />
    <result column="FREQUENCY_NUM" jdbcType="DECIMAL" property="frequencyNum" />
    <result column="FREQUENCY_UNIT" jdbcType="DECIMAL" property="frequencyUnit" />
    <result column="DURATION_NUM" jdbcType="DECIMAL" property="durationNum" />
    <result column="DURATION_UNIT" jdbcType="DECIMAL" property="durationUnit" />
    <result column="INFORM_DATE" jdbcType="TIMESTAMP" property="informDate" />
    <result column="AUDIT_BY" jdbcType="VARCHAR" property="auditBy" />
    <result column="AUDIT_DATE" jdbcType="TIMESTAMP" property="auditDate" />
    <result column="AUDIT_OPINION" jdbcType="VARCHAR" property="auditOpinion" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_OFFICE_ID" jdbcType="VARCHAR" property="createOfficeId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_OFFICE_ID" jdbcType="VARCHAR" property="updateOfficeId" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag" />
    <result column="SYSTEM_FLAG" jdbcType="VARCHAR" property="systemFlag" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="PROC_INS_ID" jdbcType="VARCHAR" property="procInsId" />
    <result column="REFORM_NUMBER" jdbcType="VARCHAR" property="reformNumber" />
    <result column="NEXT_START_DATE" jdbcType="VARCHAR" property="nextStartDate" />
    <result column="NEXT_FINISH_DATE" jdbcType="VARCHAR" property="nextFinishDate" />
    <result column="AUDIT_LEVEL" jdbcType="DECIMAL" property="auditLevel" />
    <result column="AUTO_AUDIT_NUM" jdbcType="DECIMAL" property="autoAuditNum" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CH_TASK_ID, SUB_FLAG, SUB_NUM, SUPER_ID, PARENT_ID, TASK_RECORD_ID, TYPE, NAME, 
    FILL_FORM_ID, STATISTICS_FORM_ID, CONTENT, FILE_IDS, FILLER_TYPE, START_DATE, FINISH_DATE, 
    FREQUENCY_NUM, FREQUENCY_UNIT, DURATION_NUM, DURATION_UNIT, INFORM_DATE, AUDIT_BY, 
    AUDIT_DATE, AUDIT_OPINION, CREATE_BY, CREATE_OFFICE_ID, CREATE_DATE, UPDATE_BY, UPDATE_OFFICE_ID, 
    UPDATE_DATE, REMARKS, DEL_FLAG, SYSTEM_FLAG, STATUS, PROC_INS_ID, REFORM_NUMBER, 
    NEXT_START_DATE, NEXT_FINISH_DATE, AUDIT_LEVEL, AUTO_AUDIT_NUM
  </sql>
  <select id="select" parameterType="com.sic.entity.ChTaskRecord" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CH_TASK
    where ID in (select 
    TASK_ID
    from CH_TASK_RECORD
    where OFFICE_ID=#{officeId,jdbcType=VARCHAR}
     AND IS_SYNC='0' 
     and STATUS=#{status,jdbcType=VARCHAR} 
     and PROC_INS_ID  is not null)
  </select>
  
  <insert id="insert" parameterType="com.sic.entity.ChTask">
    insert into CH_TASK (ID, CH_TASK_ID, SUB_FLAG, 
      SUB_NUM, SUPER_ID, PARENT_ID, 
      TASK_RECORD_ID, TYPE, NAME, 
      FILL_FORM_ID, STATISTICS_FORM_ID, CONTENT, 
      FILE_IDS, FILLER_TYPE, START_DATE, 
      FINISH_DATE, FREQUENCY_NUM, FREQUENCY_UNIT, 
      DURATION_NUM, DURATION_UNIT, INFORM_DATE, 
      AUDIT_BY, AUDIT_DATE, AUDIT_OPINION, 
      CREATE_BY, CREATE_OFFICE_ID, CREATE_DATE, 
      UPDATE_BY, UPDATE_OFFICE_ID, UPDATE_DATE, 
      REMARKS, DEL_FLAG, SYSTEM_FLAG, 
      STATUS, PROC_INS_ID, REFORM_NUMBER, 
      NEXT_START_DATE, NEXT_FINISH_DATE, AUDIT_LEVEL, 
      AUTO_AUDIT_NUM)
    values (#{id,jdbcType=VARCHAR}, #{chTaskId,jdbcType=VARCHAR}, #{subFlag,jdbcType=VARCHAR}, 
      #{subNum,jdbcType=DECIMAL}, #{superId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{taskRecordId,jdbcType=VARCHAR}, #{type,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, 
      #{fillFormId,jdbcType=VARCHAR}, #{statisticsFormId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{fileIds,jdbcType=VARCHAR}, #{fillerType,jdbcType=DECIMAL}, #{startDate,jdbcType=TIMESTAMP}, 
      #{finishDate,jdbcType=TIMESTAMP}, #{frequencyNum,jdbcType=DECIMAL}, #{frequencyUnit,jdbcType=DECIMAL}, 
      #{durationNum,jdbcType=DECIMAL}, #{durationUnit,jdbcType=DECIMAL}, #{informDate,jdbcType=TIMESTAMP}, 
      #{auditBy,jdbcType=VARCHAR}, #{auditDate,jdbcType=TIMESTAMP}, #{auditOpinion,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createOfficeId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateOfficeId,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, #{systemFlag,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{procInsId,jdbcType=VARCHAR}, #{reformNumber,jdbcType=VARCHAR}, 
      #{nextStartDate,jdbcType=VARCHAR}, #{nextFinishDate,jdbcType=VARCHAR}, #{auditLevel,jdbcType=DECIMAL}, 
      #{autoAuditNum,jdbcType=DECIMAL})
  </insert>

  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from CH_TASK
    where ID
    = #{id,jdbcType=VARCHAR}
  </select>

</mapper>


